body, header {
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-image: url('../images/newBG.jpg');
  padding-top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,11,35,0.6)),
    url('../images/newBG.jpg');
  border-bottom: 4px solid rgba(0, 11, 35, 1);
  box-shadow: 0 1px 0 rgba(248, 249, 250, 1);
}

#header-logo {
  max-height: 60px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon {
  background-image: url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2346b4ca' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e") !important;
}

.btn.nav-menu-btn {
  color: rgba(255, 255, 255, 0.9) !important;
  transition: color 0.2s ease;
  font-weight: 500;
  border-radius: 0 !important;
  margin: 0;
  width: 100%;
  text-align: right;
}

.btn.nav-menu-btn:hover,
.btn.nav-menu-btn:focus,
.btn.nav-menu-btn:active {
  color: #46b4ca !important;
  background-color: rgba(5, 52, 122, 0.6) !important;
  border: 1px solid rgba(70, 180, 202, 1)
}

main {
  background: rgba(0, 11, 35, 0.5);
  border: none;
}

section {
  border-bottom: 5px solid rgba(0, 11, 35, 1);
}

#welcome {
  background-image: 
    linear-gradient(
      rgba(248, 249, 250, 0.2),
      rgba(248, 249, 250, 0.2)
    ),
    url('../images/engine.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#welcome-img-wrapper {
  border: 5px solid rgba(0, 11, 35, 1);
  padding: 15px;
  border-radius: 10px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  display: inline-block;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.8);
}

#welcome-img {
  filter: drop-shadow(
    0 2px 1px rgba(0,0,0,1));
}

.embossed-text {
  color: rgba(0, 11, 35, 1);
  font: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-shadow: 
    0 0 5px rgba(248, 249, 250, 1),
    1px 1px 1px rgba(248, 249, 250, .5),
    -1px 1px 1px rgba(248, 249, 250, .5),
    1px -1px 1px rgba(248, 249, 250, .5),
    -1px -1px 1px rgba(248, 249, 250, .5);
}

#about {
  background: rgba(255, 255, 255, 0.0);
}

#map {
  border: 3px solid rgba(0, 11, 35, 1);
  max-height:300px;
}

.dark-bubble {
  border: 3px solid rgba(248, 249, 250, 1);
  background-color: rgba(0, 11, 35, 0.9);
  color: rgba(248, 249, 250, 1);
  box-shadow: 0px 0px 10px 2px #000000;
}

#services {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),
    url('../images/calipers.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.light-bubble {
  border: 3px solid rgba(0, 11, 35, 1);
  background-color: rgba(248, 249, 250, 0.9);
  color: rgba(0, 11, 35, 1);
  box-shadow: 0px 0px 10px 2px #000000;
}

.text-ltblue {
  color: #46b4ca;
}

.card-desc {
  font-size:smaller;
}

@media (min-width: 576px) {
  main {
    border-left: 2px solid rgba(248, 249, 250, 1);
    border-right: 2px solid rgba(248, 249, 250, 1);
  }
  .welcome-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .welcome-text {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .welcome-text {
    font-size: 2.4rem;
  }
  .nav-menu-btn {
    font-size: 0.95rem;
    padding-inline: 0.7rem;
  }
}

@media (max-width: 991.98px) {
  .navbar .container {
    position: relative;
  }

  #mainNav {
    position: absolute;
    top: calc(100% - 13px);
    right: 25px;
    left: auto;
    width: auto;
    background-image: url('../images/newBG.jpg');
    background-attachment: fixed;
    border: 1px solid rgba(248, 249, 250, 1);
    z-index: 1000;
  }

  #mainNav .navbar-nav {
    width: auto;
  }

  #mainNav div {
    background: rgba(0,11,35,0.6);
    padding: 10px 15px;
    align-items: end;
  }

  .btn.nav-menu-btn {
    border-bottom: 1px solid rgba(248, 249, 250, 1);
  }
}


